[submodule "psem/casteljau/lib/deck.js"]
	path = psem/casteljau/lib/deck.js
	url = https://github.com/imakewebthings/deck.js.git
[submodule "psem/casteljau/lib/d3"]
	path = psem/casteljau/lib/d3
	url = https://github.com/imakewebthings/deck.js.git
